body{
    background-color: wheat;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: bold 50px;
    padding: 20px;
    input{padding:10px}
    button{
        padding: 10px 15px;
        li{margin:5px 0;}
    }
}